@media screen and (max-width:600px) {

    .info-div{
        width: 100%;
        padding: 10px;
        justify-content: center;
        text-align: center;
	    background: #24272B;
        border-radius: 10px;
    }

    #img1{
        transform: translate(0px);
        animation: float 5s ease-in-out infinite;
        margin-top: 4px;
          padding: 20px; 
        border-radius: 30px;

    
    }

    @keyframes float{

        0%{
            transform: translatey(0px);
    
        }
        50%{
            transform: translatey(-30px);
        }
        100%{
            transform: translatey(0px);
        }
    
    }
    
 

    .summary{
        padding: 10px;
        color:antiquewhite;
    }

    #p2{
        color: antiquewhite;
    }
    
}