@media screen and (max-width:600px) {

    .info-div{
        width: 100%;
        padding: 10px;
        justify-content: center;
        text-align: center;
	    background: #24272B;
        border-radius: 10px;
    }

    

    #img1{
        justify-content: center;
        border-radius: 10px;
    }

    .summary{
        padding: 10px;
        color:antiquewhite;
    }

    #p2{
        color: antiquewhite;
    }
    
}