@media screen and (max-width:600px){

    .log-div{
        width: 100%;
        background-color: #24272B;
        border-radius: 10px;
        padding: 10px;
        text-align: center;

        
    }

    label{
        color: white;
        padding: 10px;
    }

    .email{
        margin: 10px;
        width: 50%;
        margin-top: 4px;
        padding: 5px;
        border: 1px solid #b2b2b2;

        -webkit-border-radius:3px;
        border-radius: 3px;

        -webkit-box-shadow:0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .password{
        margin: 20px;
        width: 50%;
        margin-top: 4px;
        padding: 5px;
        border: 1px solid #b2b2b2;

        -webkit-border-radius:3px;
        border-radius: 3px;

        -webkit-box-shadow:0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    input[type="submit"]{
        width: 50%!important;
        cursor: pointer;  
        background: rgb(255, 255, 255, 1);
        padding: 8px 5px;
        color: #fff;
        font-size: 15px;  
        border: 1px solid #fff;   
        margin-bottom: 10px;  
        text-shadow: 0 1px 1px #333;
       
        -webkit-border-radius: 5px;
        border-radius: 5px;
       
        transition: all 0.2s linear;
      }
       
      /*estilo do botão submit no hover */
      input[type="submit"]:hover{
        background: #4ab3c6;
      }

}